@control-row-margin: 18px;

.sequencer {
  display: flex;
  padding-top: 50px;

  .global-controls {
    .ant-card {
      margin-top: 0;
      margin-bottom: 0;
      min-width: 250px;
    }

    .ant-card-body {
      padding: 0;
    }

    .control-row {
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      margin: @control-row-margin;
      margin-bottom: 36px;
      position: relative;

      &::after {
        border-bottom: solid 1px @dark-color;
        bottom: -@control-row-margin;
        content: ' ';
        position: absolute;
        left: -@control-row-margin;
        right: -@control-row-margin;
      }
      &:last-child {
        margin-bottom: @control-row-margin;
      }
      &:last-child:after {
        border: none;
      }
    }
  }

  .controls {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 24px;
    padding-right: 15px;
    width: 760px;

    .ant-card {
      margin: 0;

      .ant-card-body {
        display: flex;
        padding: 8px;
      }
    }

    .parameter-knob {
      margin: 0 8px;
    }
  }

  .step-sequencer {
    .pads-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      min-width: 760px;
    }

    .pads-container .keyboard-pad {
      margin: 0 15px 15px 0;
    }

    .controls .ant-card {
      flex-grow: 1;

      .ant-card-body {
        justify-content: flex-end;
      }
    }
  }

  .midi-channels {
    .title {
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 14px;
      text-align: center;
    }

    .content {
      background: @dark-color;
      border: solid 1px @text-color;
      font-size: 22px;
      padding: 5px 2px;
      text-align: center;
    }
  }
}

.midi-channels-menu .menu-item {
  align-items: center;
  display: flex;
  justify-content: space-between;

  & > button {
    margin-left: 4px;
  }
}
