@control-row-padding: 18px;

.sequencer {
  display: flex;
  padding-top: 50px;

  .global-controls {
    .ant-card {
      margin-top: 0;
      margin-bottom: 0;
      min-width: 250px;
    }

    .ant-card-body {
      padding: 0;
    }

    .control-row {
      align-items: center;
      border-bottom: solid 1px @dark-color;
      display: flex;
      justify-content: space-evenly;
      padding: @control-row-padding;
      position: relative;
    }

    .note-value-select {
      margin-bottom: 22px;

      .ant-select-selection-item svg {
        margin-top: -3px;
        transform: scale(0.6);
      }
    }
  }

  .controls {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 24px;
    padding-right: 15px;
    width: 760px;

    .ant-card {
      margin: 0;

      .ant-card-body {
        display: flex;
        padding: 8px;
      }
    }

    .parameter-knob {
      margin: 0 8px;
    }
  }

  .step-sequencer {
    flex-grow: 1;

    .pads-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 760px;
      margin: 0 auto;
    }

    .pads-container .keyboard-pad {
      margin: 0 15px 15px 0;
    }

    .controls .ant-card {
      flex-grow: 1;

      .ant-card-body {
        justify-content: flex-end;
      }
    }
  }

  .numeric-parameter,
  .select-parameter {
    .title {
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 14px;
      text-align: center;
    }

    .content {
      background: @dark-color;
      box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.3);
      font-size: 16px;
      font-weight: bold;
      padding: 2px 2px 3px;
      text-align: center;
    }
  }
}

.midi-channels-menu .menu-item {
  align-items: center;
  display: flex;
  justify-content: space-between;

  & > button {
    margin-left: 4px;
  }
}

.sequence-length-modifier {
  margin-right: 10px;

  .ant-input-number {
    width: 55px;
  }
}

.note-value-select-list {
  .ant-select-item {
    padding: 0px;
    text-align: center;

    .ant-select-item-option-content {
      min-height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  svg {
    transform: scale(0.7);
  }
}

.step-sequencer-summary {
  cursor: pointer;
  min-height: 80px;
  padding: 6px 10px;
  transition: background 0.15s;

  &.active {
    background: rgba(255, 255, 255, 0.05);
  }
  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  &.active .title {
    font-weight: bold;
  }

  .body {
    display: flex;
  }

  .solo-mute {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;

    & > .keyboard-button:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }
    & > .keyboard-button:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 0;
    }
  }
}
