.pad {
  border-radius: 3px;
  box-shadow: 0 0 2px 2px #000, inset 1px 1px #bbb;
  background-color: #888a8f;
  height: 80px;
  overflow: hidden;
  position: relative;
  width: 80px;

  .pad-inner {
    align-items: center;
    color: @dark-color;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .pad-overlay {
    background: rgba(255, 255, 255, 0);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: background 0.15s;
    z-index: 5;

    &:hover {
      background: rgba(255, 255, 255, 0.15);
    }
  }

  &.on {
    box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.1), inset 1px 1px #e6e6e6;
  }

  &.active {
    box-shadow: 0 0 3px 3px rgba(33, 169, 255, 0.5), inset 1px 1px #e6e6e6;
  }

  &.on::after,
  &.active::after {
    background-color: #e2ffff;
    border-radius: 50%;
    content: ' ';
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: 0;
  }

  &.on::after {
    box-shadow: 0 0 15px 15px rgba(255, 255, 255, 0.3),
      0 0 25px 25px rgba(255, 255, 255, 0.2),
      0 0 80px 80px rgba(255, 255, 255, 0.6);
  }
  &.active::after {
    box-shadow: 0 0 15px 15px rgba(255, 255, 255, 0.3),
      0 0 25px 25px rgba(255, 255, 255, 0.2),
      0 0 80px 80px rgba(255, 83, 112, 0.8);
  }
  &.on.active::after {
    box-shadow: 0 0 15px 15px rgba(255, 255, 255, 0.3),
      0 0 25px 25px rgba(255, 255, 255, 0.2),
      0 0 80px 80px rgba(33, 169, 255, 0.7);
  }
}
